build/
dist/
__pycache__/
*.spec

# Medias et assets
*.mp3
*.wav
*.mp4
*.mov
*.avi

# Images (sauf logo.png et mystrow.ico)
*.jpg
*.jpeg
*.webp
*.bmp
*.tiff
*.pdf

# Fichiers sensibles
keys/
*.pem
*.bmtp

# Shows utilisateur
show */
*.tui

# Installer output
installer/installer_output/
