# SECRETS - NE JAMAIS PUSHER
firebase_config.py
smtp_config.py
service_account.json
create_client.py
activate_dev.py
keygen.py
.maestro_admin.json

# Build
dist/
build/
*.spec

# Python
__pycache__/
*.pyc
